<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Șterge toate sursele moștenite (global/user) -->
        <clear />
        <!-- Lăsăm doar feed-ul oficial NuGet -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>